<!DOCTYPE html>
<html>
  <body>
    <h1></h1>
    <h2>Window will be closed automatically in 3 seconds.</h2>
    <script>
      setTimeout(() => {
        if (typeof window !== 'undefined') {
        
            window.close();
        }
      }, 3000);
    </script>
  </body>
</html>
