<!DOCTYPE html>
<html>
<head>
  <title>Successfully Logged In</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      color: #333;
      font-size: 32px;
      margin-bottom: 20px;
    }

    h2 {
      color: #666;
      font-size: 18px;
    }

    .close-icon {
      position: fixed;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 24px;
      color: #666;
    }
  </style>
</head>
<body>

  <center>
    <div>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-5 -5 60.00 60.00" xml:space="preserve" width="213px" height="213px" fill="#000000" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#25AE88;" cx="25" cy="25" r="25"></circle> <polyline style="fill:none;stroke:#FFFFFF;stroke-width:3.05;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points=" 38,15 22,33 12,25 "></polyline> </g></svg>
      </div>
  </center>
  <h1>You have successfully logged in!</h1>
  <h2>Close this page and goback to the extension</h2>

  <button>Redirect me</button>

  <script>

    const redirect = () =>location.href="/index.html"

    function closeTab() {
      window.close();
      setTimeout(() => {
        window.close()
      }, 1500)
      
    }

    const redirectMe = () => {
      widow.location.href='localhost://'
    }
    
  </script>
</body>
</html>
