@import url(./index.scss);
@import url(./base/index.scss);

body {
  background: #151515;
  color: #b1b1b1f7;
  font-size: 1em;
}

.swiper-pagination {
  position: static !important;
  margin-top: 1.5em !important;
  
  .swiper-pagination-bullet {
    background-color: #F46412;
  }

}

.loader{
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FF3D00;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to  {   width: 100%;}
}
