---
import Layout from '../layouts/Layout.astro';
import '../styles/main.scss'
import Header from '../components/molecules/header/header'
import ContainerLayout from '../layouts/ContainerLayout.astro';
import Auth from '../components/pages/auth.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Auth/>
	</main>
</Layout>


