@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@700;800&family=DM+Sans:ital,wght@0,700;1,400&family=Inter:wght@200;400;600;700&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-font_dm-sans {
  font-family: "Archivo", sans-serif;
  font-weight: 800 !important;
}

.link-font_popins {
  font-family: "Inter", sans-serif;
}
